# dependencies
node_modules

# next.js
.next

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# service worker files
sw.js
workbox-*
swe-worker-*

# sitemap files, robots.txt
sitemap*
robots.txt